<div class="container" fxLayoutGap="10px" fxLayout="column">
  <div fxFlex class="complaintForm">
    <form novalidate [formGroup]="compForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width" dividerColor="{{formErrors.title?'warn':'primary'}}">
        <input matInput [(ngModel)]="compForm.title" formControlName="title"
          placeholder="Complaint title" type="text" required>
        <mat-hint>
          <span [hidden]="!(formErrors.title)">
            {{ formErrors.title }}
          </span>
        </mat-hint>
      </mat-form-field>
      <p>
        <mat-form-field class="full-width" dividerColor="{{formErrors.dept?'warn':'primary'}}">
          <input type="text" [(ngModel)]="compForm.dept" placeholder="Department" 
            formControlName="dept" aria-label="Number" matInput [matAutocomplete]="auto" required>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let dept of deptList" [value]="dept">
              {{ dept }}
            </mat-option>
          </mat-autocomplete>
          <mat-hint>
              <span [hidden]="!(formErrors.dept)">
                {{ formErrors.dept }}
              </span>
          </mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="full-width" dividerColor="{{formErrors.description?'warn':'primary'}}">
          <textarea matInput [(ngModel)]="compForm.description" formControlName="description"
            placeholder="Describe your problem (max 350 chars.)" required></textarea>
          <mat-hint>
              <span [hidden]="!(formErrors.description)">
                {{ formErrors.description }}
              </span>
            </mat-hint>
        </mat-form-field>
      </p>
      <button mat-raised-button [disabled]="compForm.invalid" class="btn-s">Submit</button>
    </form>
    <p>
      FORM: {{ compForm.value | json }}
    </p>
  </div>
</div>