<mat-toolbar color="primary">
  <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLink="/about" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> About</a>
  <a mat-button [matMenuTriggerFor]="menu"><span class="fa fa-list fa-lg"></span> Complaints</a>
  <a mat-button routerLink="/contactus" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact</a>
  <span class="flex-spacer"></span>
  <a mat-button *ngIf = "!auth.isAuthenticated" (click)="openDialog()"><span class="fa fa-sign-in fa-lg"></span>Login</a>
  <a mat-button *ngIf = "auth.isAuthenticated">Welcome {{auth.name}}</a>
  <a mat-button *ngIf = "auth.isAuthenticated" (click)="auth.logout()"><span class ="fa fa-sign-out fa-lg">LogOut</span></a>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/cform">
    <span>Add Complaint</span>
  </button>
  <button mat-menu-item routerLink="/complaint">
    <span MatTooltip="Login or signup!">Active Complaints</span>
  </button>
  <button mat-menu-item routerLink="/complaint">
    <span>All complaints</span>
  </button>
</mat-menu>
