<footer>
  <div id="footer-above">
                    <ul id="contact">
                          <li><a class="button social" href="" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a></li>
                          <li><a class="button social" href="" target="_blank"><i class="fa "></i></a></li>
                          <li><a class="button social" href="" target="_blank"><i class="fa "></i></a></li>
                          <li><a class="button social" href="" target="_blank"><i class="fa "></i></a></li>
                    </ul>
  </div>
  <div id="footer-below">Copyright &copy;
      <script>
          document.write(new Date().getFullYear())
      </script> Bhopal Government
  </div>
</footer>
