 <footer class="footer mt-3 pt-2">
         <div class="container">
           <div class="row">
             <div class="col-md-4">
               <h1 class="h3 address">Location</h1>
               <p>Email:jpchuchuhai@gmail.com<br>lol</p>
            </div>
             <div class="col-md-4">
               <h1 class="h3 text-center">Follow</h1>
               <ul class="list-unstyled list-inline">
                 <li class="footer-item list-inline-item text-success bg-light ml-1"><a class="footer-link">Home</a></li>
                 <li class="footer-item list-inline-item text-dark bg-light ml-1"><a class="footer-link">About</a></li>
                 <li class="footer-item list-inline-item text-warning bg-light ml-1"><a class="footer-link">Complaints</a></li>
                 <li class="footer-item list-inline-item text-primary bg-light ml-1"><a class="footer-link">Contact</a></li>
               </ul>
             </div>
             <div class="col-md-4">
               <h1 class="h3">Call Us</h1>
               <p>+91-9999999999</p>
             </div>
           </div>
         </div>
  </footer>

