<footer>
  <div id="footer-above">
                    <ul id="contact">
                          <li><a class="button social" routerLink="/home"><i class="fa fa-fw fa-home"></i></a></li>
                          <li><a class="button social" routerLink="/about"><i class="fa fa-fw fa-info"></i></a></li>
                          <li><a class="button social" routerLink="/complaint"><i class="fa fa-fw fa-th-list"></i></a></li>
                          <li><a class="button social" routerLink="/contactus"><i class="fa fa-fw fa-address-card"></i></a></li>
                    </ul>
  </div>
  <div id="footer-below">Copyright &copy;
      <script>
          document.write(new Date().getFullYear())
      </script>Bhopal Government
  </div>
</footer>
