<div class="container d-flex justify-content-center" [@expand]>
  <mat-card class="example-card">
      <mat-card-header>
        <h1>Jan Samadhan</h1>
          <hr>
      </mat-card-header>
      <mat-card-content>
        <p>
          It is a website/web portal which helps a commosn man to send complaints to respected department. And it is not like other complaint system where we can only
          write a complaint to a particular department and have no any type of status about complaints. Jan Samadhan can take complaints of every department like electricity,BMC(Bhopal Municipal Corporation)
          etc and send to respected department and give status of complaints like open,assigned,progress,closed,ignored and invalid.
        </p>
        <h2>Status of Complaints</h2>
        <ul>
          <li>Open</li>
          <li>Assigned</li>
          <li>Progress</li>
          <li>Closed</li>
          <li>Ignored</li>
          <li>Invalid</li>
        </ul>
        <h3>Open</h3>
        <p>The complaints is submited successfully.</p>
        <h3>Assigned</h3>
        <p>The complaint is assigned to employee by the head of department.</p>
        <h3>Progress</h3>
        <p>The department is taking action on alloted issue.</p>
        <h3>Closed</h3>
        <p>The issue is solved with the 100% satisfaction of complainant.</p>
        <h3>Ignored</h3>
        <p>No action taken by the department of respected issues which is kept by complainant.</p>
        <h3>Invalid</h3>
        <p>Proper issue is not defined by the complainant and it  may be a insufficient content for the issue.</p>
      </mat-card-content>
    </mat-card>
</div>