.notFound{
    height: 70vh;
    width: 100%;
    background-color: #EEEEEE;
    padding-top:175px;
}


.elegantshd {
    text-shadow: black 0.1em 0.1em 0.2em;
    letter-spacing: 5px;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
