<div class="container" [@expand]>
  <mat-card class="example-card">
      <mat-card-header>
        <div class="row">
          <div class="col-12">
            <h1>Contact Us</h1>
            <hr>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-xl-6 offset-sm-1">
            <p class="text" style="font-size:100%">Our address</p>
            <address style="font-size:100%">
              121, Clear Water Bay Road
              <br> Clear Water Bay, Kowloon
              <br> HONG KONG
              <br>
              <i class="fa fa-phone"></i>: +91-80965457688876
              <br>
              <i class="fa fa-envelope"></i>: hgjhjghjh@gmail.com
              <br>
              <i class="fa fa-fax"></i>:
              <a href="">fhggjhjhj</a>
            </address>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
</div>